- if params[:success] != nil
  .ui.positive.message
    .header
      Yaaaay!
    %ul.list
      %li= params[:success] == nil ? success : params[:success]
- if params[:alert] != nil
  .ui.negative.message
    .header
      Oooops! Warning ?
    %ul.list
      %li= params[:alert] == nil ? alert : params[:alert]
