.ui.top.attached.menu
  = link_to root_path, :class => "item" do
    = image_tag('http://zizaza.com/cache/big_thumb/iconset/581946/581948/PNG/256/like_a_flat/book_web_book_png_book_icon_flat_icon_png.png')
  - if current_user != nil
    - if current_page?(admin_path)
      = link_to('Домівка', admin_path, :class => "active item")
    - else
      = link_to('Домівка', admin_path, :class => "item")
    .right.menu
      -# .item
      -#   .ui.tiny.horizontal.statistic
      -#     .value= Upload.all.count
      -#     .label Книг
      -# - if current_user.role != nil
      -#   .item
      -#     - if current_user.role.name == 'admin'
      -#       .ui.green.label= current_user.role.name
      -#     - elsif current_user.role.name == 'moderator'
      -#       .ui.orange.label= current_user.role.name
      -#     - else
      -#       .ui.blue.label= current_user.role.name
      -# - if current_page?(admin_settings_path)
      -#   = link_to('Налаштування', admin_settings_path, :class => "ui right aligned active item")
      -# - else
      -#   = link_to('Налаштування', admin_settings_path, :class => "ui right aligned item")
      = link_to('Вийти', destroy_user_session_path, :method => :delete, :class => "ui right aligned item")
  - else
    .right.menu
      = link_to('Увійти', new_user_session_path, :class => "ui right aligned item")
