= render partial: 'admin/navbar'
.ui.container{ :style => "margin-top: 80px;" }
  = render partial: 'admin/alerts'
  .ui.header{style: "padding-top:250px;font-size:20px;font-weight:300;width:500px;margin: 0 auto;text-align: justify;"}
    %p{style: "text-align: center;"}
      Вітаємо у онлайн бібліотеці ЛНУ
    %p
      Адміністрація вебсайту не несе відповідальності за контент розміщений на сайті. Все, що розміщено на даному сайті, захищено законом про вільне володіння доступною інформацією. База даних заснована на політиці вільного відвантаження інформативних матералів.
