:css
  body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
.ui.middle.aligned.center.aligned.grid
  .column
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: "ui large form") do |f|
      .ui.segment.padded
        %h2 Вхід в систему
        .field
          .ui.left.icon.input.fluid
            %i.user.icon
            = f.email_field :email, autofocus: true
        %br
        .field
          .ui.left.icon.input.fluid
            %i.lock.icon
            = f.password_field :password, autocomplete: "off"
        %br
        = f.submit "Log in", :class => "ui fluid large teal submit button"
      - if notice
        .ui.warning.message= notice
      - if alert
        .ui.error.message= alert
    .ui.message
      = render "devise/shared/links"
